<%- include("partials/header"); -%>

<div class="container-fluid text-center">
    <h1 style="color: #C92C6D; margin-bottom: 2px;" class="display-1 heading">HMS GLOBAL</h1>
    <p style="color: #C92C6D; margin-bottom: 3rem; font-style: italic;">"Hospitality beyond borders."</p>
</div>

<div class="container" style="margin-bottom: 5vh;">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <h4>Room Availability</h4>
          </div>
          <div class="card-body">
            <form action="/create-checkout-session" method="POST">
              <div class="form-group">
                <label for="name">Check-in Date</label>
                <p name="checkInDate" style="color: #C92C6D;"><%= inDate %></p>
              </div>
              <div class="form-group">
                <label for="name">Check-out Date</label>
                <p style="color: #C92C6D;"><%= outDate %></p>
              </div>
              <div class="form-group">
                <label for="name">Selected Room Type</label>
                <p style="color: #C92C6D;"><%= roomtype %></p>
              </div>
              <div class="form-group">
                <label for="name">Number of days</label>
                <p style="color: #C92C6D;"><%= stayDays %></p>
              </div>
              <div class="form-group">
                <label for="name">Room Rent per Day</label>
                <p style="color: #C92C6D;">₹<%= perDayT %></p>
              </div>
              <div class="form-group">
                <label for="name"> Estimated Price</label>
                <p style="color: #C92C6D;">₹<%= totalAmount %> including taxes</p>
              </div>
              <div class="d-flex justify-content-center">
                <button style="margin: 3vh; background-color: #C92C6D; color: white;" type="submit" class="btn btn-block text-center">Proceed to Payment</button>
              </div>
              <p>*The price  above include goverment taxes</p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<%- include("partials/footer"); -%>